.ToDo {
    display: flex;
    margin: 0 -3rem 4px;
    padding: 1.1rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
}

.ToDo-Task {
    position: relative;
    transition: opacity .4s linear;
    cursor: pointer;
}

.ToDo-Task.completed{
    opacity: .6;
}

.ToDo-Task.completed:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -.5rem;
    display: block;
    width: 0%;
    height: 2px;
    background: #fff;
    animation: strikeitem .5s ease-out 0s forwards;
}

@keyframes strikeitem {
    to {
        width: calc(100% + 1rem);
    }
}

.ToDo-Buttons {
    flex-shrink: 0;
    padding-left: .7rem;
}

.ToDo-Buttons button {
    border: none;
    font-size: 1em;
    margin: .4rem;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
}

.ToDo-Edit-Form {
    display: flex;
    flex-wrap: wrap;
}

.ToDo-Edit-Form label{
    min-width: 100%;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.ToDo-Edit-Form input {
    flex-grow: 1;
    border: none;
    background: #f7f1f7;
    padding: 0 1.5em;
    font-size: initial;
}


.ToDo-Edit-Form button {
    padding: 0 1.3rem;
    border: none;
    background-color: #d0a2eb;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, .3);
    margin-left: 5px;
    cursor: pointer;
    transition: background .2s ease-out;
}

.ToDo-Edit-Form button:hover {
    background: #bd7de3;
}

.ToDo-Edit-Form input,
.ToDo-Edit-Form button {
    font-family: 'Ubuntu', sans-serif;
    height: 3rem;
}